.spinnerContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  align-items: center;
}

.spinner {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #190dd3;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.employeesPage {
  display: grid;
  grid-template-columns: 9fr 3fr;
  margin-top: 30px;
}

.employees {
  overflow-x: scroll;
  max-height: calc(100vh - 60px);
  background-color: #e5e5e5;
  padding: 20px;
}

.employeesHeader {
  position: absolute;
  transition: all 1s ease-out;
}

.opacityNull {
  opacity: 0;
}

.employeesBirthday {
  padding: 20px;
  max-height: calc(100vh - 60px);
  overflow: auto;
  background-color: #e5e5e5;
}

.listWrapper {
  display: flex;
}

.scroll {
  width: 100%;
  overflow-x: scroll;
}

.letterColumn {
  display: flex;
  flex-direction: column;
  padding: 75px 10px 10px 10px;
  text-overflow: ellipsis;
}

.employeeCard {
  padding: 10px 0;
  white-space: nowrap;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
}

.radioWrapper label {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}

.employeeName {
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blue {
  color: #190dd3;
  font-weight: bold;
}

.separator {
  height: 1px;
  background-color: black;
  margin-bottom: 38px;
  margin-top: 54px;
}

.monthCard {
  border-bottom: 1px solid #cdc8c8;
  margin-bottom: 10px;
}

.employeeBirthdayCard {
  font-weight: bold;
  font-size: 0.7rem;
}
